<div class="container">
    <h1>
      Bienvenidos a la App de asistencia de Web
    </h1>
    <div class="alert alert-warning" *ngIf="alreadyPresent">
      <strong>Ya tenes asistencia para este día!</strong>
    </div>
    <div class="alert alert-success" *ngIf="saveSuccessful">
      <strong>La asistencia se grabo correctamente</strong>
    </div>
    <ngui-map zoom="13" *ngIf="saveSuccessful">
      <marker [geoFallbackPosition]="[-37.3171663, -59.1239526]" animation="Animation.BOUNCE"></marker>
    </ngui-map>
    <form (ngSubmit)="onSubmit()" >
      <div class="form-group">
        <label for="name">Alumno</label>
        <select class="form-control" name="name" [(ngModel)]="selectedStudent" required>
          <option *ngFor="let student of students | async" [ngValue]="student.$key">{{student.name + ' - ' + student.lu}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="this.location == undefined">Presente</button>
    </form>
</div>
